<VirtualHost *:80>
  ServerName {{ moodle_domain }}
  {% if apache2_webmaster_email is defined %}
  ServerAdmin {{ apache2_webmaster_email }}
  {% else %}
  ServerAdmin root@{{ ansible_fqdn }}
  {% endif %}
  DocumentRoot {{ moodle_webroot }}

  <Directory "{{ moodle_webroot }}/.git">
    Require all denied
  </Directory>

  ErrorLog ${APACHE_LOG_DIR}/{{ moodle_domain }}-error.log
  CustomLog ${APACHE_LOG_DIR}/{{ moodle_domain }}-access.log combined
</VirtualHost>

# vim: syntax=apache ts=4 sw=4 sts=4 sr noet

