<?php  // Moodle configuration file

unset($CFG);
global $CFG;
$CFG = new stdClass();

$CFG->dbtype    = 'mariadb';
$CFG->dblibrary = 'native';
$CFG->dbhost    = '{{ moodle_mysql_host }}';
$CFG->dbname    = '{{ moodle_mysql_database }}';
$CFG->dbuser    = '{{ moodle_mysql_username }}';
$CFG->dbpass    = '{{ moodle_mysql_password}}';
$CFG->prefix    = 'mdl_';
$CFG->dboptions = array (
  'dbpersist' => 0,
  'dbport' => '',
  'dbsocket' => '',
  'dbcollation' => 'utf8mb4_general_ci',
);

$CFG->wwwroot   = 'https://{{ moodle_domain }}';
$CFG->dataroot  = '{{ moodle_data_path }}';
$CFG->admin     = 'admin';

$CFG->directorypermissions = 0777;

require_once(__DIR__ . '/lib/setup.php');

// There is no php closing tag in this file,
// it is intentional because it prevents trailing whitespace problems!

